---
const pageTitle = "About Jingachika";
const identity = {
  firstName: "Varun",
  country: "Indian",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs", "Lit"];

const happy = true;
const finished = false;
const goal = 3;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <title>{pageTitle}</title>
  </head>


    <body>
        <a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>{pageTitle}</h1>
<p>Here are the few facts about me</p>
      <ul>
        <li>My name is {identity.firstName}</li>
        <li>My country is {identity.country}</li>
        <li>My occupation is {identity.occupation}</li>
        {identity.hobbies.length>=2 && 
        <li>Two hobbies are {identity.hobbies[0]} and {identity.hobbies[2]}</li>
        }
      </ul>

      <p>My Skills are</p>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}

      </ul>

      {happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

      </body>
